header{
    width:100vw;
    min-height:90vh;
    background-color:white;
    background-image:url("http://i288.photobucket.com/albums/ll179/agarwalshruti988/images%209_zps3pymz6om.jpg");
}
header nav {
    height: 10vh;
    font-size:3vmin;
    font-family: Tahoma, Geneva, sans-serif;
    background-color:rgba(0,0,0,0.3);
    text-align:right;
}
nav ul {
    height: auto;
    padding: 1em 0px;
    
}
header div li { 
    display: inline; 
    padding: 1em;
 
}
nav a {
    text-decoration: none;
    color: white;
    border:2px solid rgba(0,0,0,0);
    padding:0.1em;
}
nav a:hover{
    border:2px solid white;
    padding:0.1em;
    text-decoration:none;
    color:white;
}
.row{
    background-color:#FAF579;
    padding:2em 2em 2em 2em;
    margin-top:3em;
    margin-bottom:3em;
    font-family: 'Handlee', cursive;
    color:#000099;
}
p{
    font-size:3vmin;
}
img{
    max-width:90%;
}