header{
    width:100%;
    min-height:100vh;
    background-image:url("http://i288.photobucket.com/albums/ll179/agarwalshruti988/images%209_zps3pymz6om.jpg");
    
}
header nav {
    height: 10vh;
    font-size:3vmin;
    font-family: Tahoma, Geneva, sans-serif;
    background-color:black;
    background-color:rgba(0,0,0,.3);
    text-align:right;
}
nav ul {
    height: auto;
    padding: 1em 0px;
    
}
header div li { 
    display: inline; 
    padding: 1em;
 
}
nav a {
    text-decoration: none;
    color: white;
    border:2px solid rgba(0,0,0,0);
    padding:0.1em;
}
nav a:hover{
    border:2px solid white;
    padding:0.1em;
    text-decoration:none;
    color:white;
}    
h1{
    text-align:center;
    font-size:6vmin;
    font-family: 'Oswald', sans-serif;
    color:#ACE3FC;
    margin: 1em 1em;
}
.work-exp{
    background-color:#FAF579;
    padding:1em 1em 1em 1em;
    text-align:center;
    margin-left:1em;
    width:7em;
    font-size:4vmin;
    font-family: 'Raleway', sans-serif;
}
#skills .row{
    padding:1em 6em 4em 6em;
}
.progress{
    width:50vw;
    margin:2em;
}